  <div class="pt-20">
    <div class="h-10 bg-white w-full banner-container">
      <div class="banner firstBanner">
        <img [src]="banner" alt="banniereSponsor" class="h-full"/>
      </div>
      <div class="banner">
        <img [src]="banner" alt="banniereSponsor" class="h-full"/>
        <img [src]="banner" alt="banniereSponsor" class="h-full"/>
      </div>
    </div>
    <div class="h-96 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 w-full">
    </div>
  </div>
  <div class="w-full remonte">
    <div class="carousel pb-12 -mt-44">
      <div class="carousel-inner ">
        <img [src]="carroussel1" alt="carroussel1" class="carousel-item h-full pt-12"/>
        <img [src]="carroussel2" alt="carroussel2" class="carousel-item h-full pt-12"/>
        <img [src]="carroussel3" alt="carroussel3" class="carousel-item h-full pt-12"/>
      </div>
    </div>
    <div>
      <div class="text-center text-white">
        <h1 class="text-2xl text-white">PROCHAIN EVENEMENT</h1>
        <div class="flex justify-evenly my-4">
          <div>
            <p class="text-4xl">10</p>
            <p class="text-sm">days</p>
          </div>
          <div>
            <p class="text-4xl">:</p>
          </div>
          <div>
            <p class="text-4xl">06</p>
            <p class="text-sm">hours</p>
          </div>
          <div>
            <p class="text-4xl">:</p>
          </div>
          <div>
            <p class="text-4xl">47</p>
            <p class="text-sm">min</p>
          </div>
          <div>
            <p class="text-4xl">:</p>
          </div>
          <div>
            <p class="text-4xl">00</p>
            <p class="text-sm">sec</p>
          </div>
        </div>
        <div>
          <img [src]="espot" alt="banniereSponsor" class="h-full p-1 rounded-b-lg overflow-hidden"/>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-4">
    <button class="bg-dark text-white border-2 border-blue-50 rounded-lg p-2 text-3xl">CALENDRIER TOURNOI</button>
  </div>
<img [src]="navbar" alt="navbar" class="pt-20 w-full"/>
